<!DOCTYPE html>
<html lang="en" ng-app="angularStart">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="maincontroller.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<h1>Angular.js start</h1>
	<div ng-controller="MainController">

		<h2>Data binding ((ng-model))</h2>
		<h3>Hello {{name}}</h3>
		<input type="text" ng-model="name">

		<hr>

		<h2>Tömb ((ng-repeat))</h2>

		<ul>
			<li ng-repeat="x in emberek">
				{{x.name}} adatai:<br>
				életkor: {{x.age}}<br>
				élettársak: <span ng-repeat="i in x.csajok">{{i}} </span>
			</li>
		</ul>

		<hr>

		<h2>Feltételes lista</h2>

		<ul>
			<li ng-repeat="x in emberek">
				<span  ng-if="$even">
					<b>{{$index+1}}. {{x.name}} {{x.age}} eves</b>
				</span>
			</li>
		</ul>

		<hr>

		<h2>Legördülő lista</h2>
		<!--
			ng-model: szükséges
			ng-option
		-->
		Név: <select
			ng-model="selected"
			ng-options="ember.name for ember in emberek"
			onchange="$('#tehat').hide();$('#histruelove').val()"></select>

		<b>Barinők: </b>
		<select
				ng-model="selectedWoman"
				onchange="$('#tehat').show();">
			<option ng-repeat="csaj in selected.csajok">{{csaj}}</option>
		</select>

		<hr>

		<h2>Function rákötés ((ng-click))</h2>
		<h3 ng-click="changeText()">{{text}}</h3>

	</div>


</body>
</html>